<mat-grid-list class="card-bg" cols="3" rowHeight="50px">
    <mat-grid-tile colspan="2" rowspan="1">
        <span>Item</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <span>Availability</span>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list class="card-bg" cols="3" rowHeight="50px">
    <mat-grid-tile colspan="2" rowspan="1">
        <span>Item</span>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-slide-toggle>Slide me!</mat-slide-toggle>
    </mat-grid-tile>
</mat-grid-list>

