.card-bg{
    background-color: #E9EDC9;
}

.card-header-bg{
    background-color: #CCD5AE;
}

.align-items-left{
    align-items: flex-start;
}

.align-bottom {
    position:absolute;
    width:300px;
    height:50px;
   
    bottom: 15px;
    right:25%;
    left:50%;
    margin-left:-150px;
    
    
  }