.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
}

.available {
  color: #fff;
  background-color: green;
}

.grid-list {
  margin-bottom: 10px;
}

.card-bg {
  background-color: #e9edc9;
}

.sub-header {
  text-align: center;
  color: #d4a373;
  margin: 10px;
}

button {
  &.btn-rounded {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    outline: none;
    border: 1px solid #ccd5ae;
    background-color: #d4a373;
    color: white;
  }
  &.float-bottom-right {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    span {
      font-size: 2rem;
    }
  }
}
