<div class="sub-header">
    <h3> TABLES </h3>
</div>
<ng-container *ngIf="formArray?.controls">
    <mat-card *ngFor="let formGroup of formArray?.controls" class="card-bg grid-list" [formGroup]="formGroup">
        <div class="wrapper">
            <div>
                <mat-card-title>{{formGroup.value.name}}</mat-card-title>
                <mat-card-subtitle>Capacity: {{formGroup.value.capacity}}</mat-card-subtitle>
                <mat-form-field appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let status of TableStatusKeys" [value]="status">
                            {{ TableStatus[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <img [src]="'https://chart.googleapis.com/chart?chs=128x128&cht=qr&chl=url:https://rms-appservice.azurewebsites.net/customer/menu?tableid='+formGroup.value.id">
            </div>
        </div>
    </mat-card>
</ng-container>
<button color="#d4a373" class="btn-rounded float-bottom-right " (click)="openAddPopUp()">
    <span>+</span>
</button>