.card-bg {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #E9EDC9;
    margin-bottom: 5px;
}

.card-header-bg {
    background-color: #CCD5AE;
}

.align-items-left {
    align-items: flex-start;
}