<div *ngIf="false">
    <mat-grid-list class="card-bg " cols="3">
        <mat-grid-tile colspan="1" rowspan="1">
            <span class="full-width">#001</span>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="3">
            <span class="full-width">
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </span>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <span class="full-width">Table 1</span>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <span class="full-width">Penging</span>
        </mat-grid-tile>
    </mat-grid-list>
</div>


<mat-grid-list class="card-bg " cols="5" rowHeight="40">
    <mat-grid-tile colspan="1" rowspan="4">
        <span class="full-height ">
            <h1 class="vertical-text" style="font-size: revert;">#001</h1>
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <span class="full-width">
            <h3 style="font-size: revert;">Table 1</h3>
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <mat-button-toggle>Pending</mat-button-toggle>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="3">
        <span class="full-width">
            <ul class="no-style-list wrapped-list">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ul>
        </span>
    </mat-grid-tile>
</mat-grid-list>
<hr>
<mat-grid-list class="card-bg " cols="5" rowHeight="40">
    <mat-grid-tile colspan="1" rowspan="4">
        <span class="full-width full-height ">
            <h1 class="vertical-text" style="font-size: revert;">#001</h1>
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <span class="full-width">
            <h3 style="font-size: revert;">Table 1</h3>
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <mat-button-toggle>Pending</mat-button-toggle>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="3">
        <span class="full-width">
            <ul class="no-style-list wrapped-list">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ul>
        </span>
    </mat-grid-tile>
</mat-grid-list>
<hr>
<mat-grid-list class="card-bg " cols="5" rowHeight="40">
    <mat-grid-tile colspan="1" rowspan="4">
        <span class="full-width full-height ">
            <h1 class="vertical-text" style="font-size: revert;">#001</h1>
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <span class="full-width">
            <h3 style="font-size: revert;">Table 1</h3>
        </span>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
        <mat-button-toggle>Pending</mat-button-toggle>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="3">
        <span class="full-width">
            <ul class="no-style-list wrapped-list">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ul>
        </span>
    </mat-grid-tile>
</mat-grid-list>