<h3 class="sub-header">
    ORDERS
</h3>
<mat-card class="card-bg" *ngFor="let order of (orders$|async)?.data">
    <mat-card-title>{{order.orderDatetime|date:'h:mm a'}}</mat-card-title>
    <mat-card-subtitle>{{order.table.name}} - {{order.id}}</mat-card-subtitle>
    <mat-card-content>
        <ul class="no-style-list wrapped-list">
            <li *ngFor="let item of order.items">
                {{item.menu.name}}
            </li>
        </ul>
    </mat-card-content>
    <mat-card-actions class="right-align">
        <button mat-button class="card-button" (click)="onComplete(order.id)">Completed</button>
    </mat-card-actions>
</mat-card>