.card-bg {
    background-color: #e9edc9;
    margin-bottom: 10px;
}

.sub-header {
    text-align: center;
    color: #d4a373;
    margin: 10px;
}

button {
    height: 50px;
    width: 150px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #D4A373;
    color: #D4A373;
}

.right-align {
    display: flex;
    justify-content: right;
}