.home-bg {
  background-image: url("/assets/heroPlant.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.container {
  margin: 20px;
  margin-top: 7rem;
  text-align: center;
  color: #caf0f8;
  font-size: 1.75rem;
  font-weight: bold;
}

button {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 150px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #D4A373;
  color: #D4A373;
  margin: auto;
}

button:active {
  background: #FAEDCD;
  color: #D4A373;
}