<div class="sub-header">
    <h3> {{ title }}</h3>
</div>
<div>
    <mat-accordion>
        <mat-expansion-panel class="card-bg" [expanded]="alwaysExpanded" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="expansion-title">
                    STARTERS
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container>
                <mat-grid-list cols="4">
                    <mat-grid-tile class="item" colspan="3" rowspan="1">
                        <div class="full-width">
                            <h3 class="item-title">Pani puri</h3>
                            <span class="item-price">$ 100.0</span> <br>
                            <span class="item-description">Description</span>
                        </div>

                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <div>
                            <button class="item-button" (click)="removeQuantity()"> - </button>
                            <span class="item-quantity"> {{quantity}} </span>
                            <button class="item-button" (click)="addQuantity()"> + </button>
                        </div>

                    </mat-grid-tile>
                </mat-grid-list>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>

</div>